.rotate {
    margin-top: 70px;
    height: 40vmin;
   
}
  
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.image__container{
    text-align: center;
    margin: auto;
    position: relative;
}

.images{
    height: 40vmin;
}