.rotate {
    margin-top: 70px;
    height: 40vmin;
    animation: rotation infinite 10s linear
}
  
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.image__container{
    text-align: center;
    margin: auto;
    position: absolute;
    width: auto;
    height: auto;
}

.react__image{
    height: 40vmin;
    width: 50vmin;
    border-radius: 50%;
    animation: rotation infinite 10s linear;
}

.python__image{
  height: 30vmin;
  border-radius: 50%;
  animation: rotation infinite 9s linear;
  
}

.js__image{
  height: 38vmin;
  border-radius: 50%;
  animation: rotation infinite 9s linear;
}

.github__image{
  height: 25vmin;
  border-radius: 80%;
  margin-left: 95px;
  animation: rotation infinite 10s linear
}
